h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 70pt;
  font-family: "Creepster", cursive;
  text-align: center;
}

html {
  background-image: linear-gradient(to right, cyan, black, red);
}

#pgCont {
  display: flex;
  padding: 100px;
  justify-content: center;
}

#mazeCont {
  justify-content: flexbox;
}

#startBtn {
  width: 150px;
  height: 75px;
  margin: 20px;
  font-size: 18pt;
}

#game {
  background-color: aliceblue;
}
